/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body {
  background: white;
  background-size: 400% 400%;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}
html{ height: 100%;
	overflow-x: hidden;
	max-width: 100%;
}
h1 {
  font-size: 50px; 
  font-weight: bold; 
  line-height: 37px; 
}

ul{
	list-style-type: none;
}
.bg-dark{
	color: #808080;
	background-color: #808080;
}

.navbar {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;

	/* the rest of your styling */
}

#savedSets{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#s1 {
	background: linear-gradient(-45deg,#808080, rgb(98, 121, 128), #156380, #616981);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
#s2{
	background: linear-gradient(45deg,#808080, rgb(98, 121, 128), #156380, #616981);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
#s3{
	background: linear-gradient(-45deg,#808080, rgb(98, 121, 128), #156380, #616981);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	color:white;
}
#s4{
	background: linear-gradient(45deg,#808080, rgb(98, 121, 128), #156380, #616981);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	color:white;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main{
	height: 100vh;
	justify-content: center;
	text-align: center;
	justify-items: center;
}





header {
	position: relative;
	height: 75vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
	background-image: linear-gradient(rgb(103, 103, 105), rgba(2, 27, 54, 0.514));
  }
  
  header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  

  header .container {
	position: relative;
	z-index: 2;
  }

  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
	}
	header video {
	  display: none;
	}
  }

  @-webkit-keyframes backgroundAnimate {
	from {
	  left: 0;
	  top: 0;
	}
	to {
	  left: -10000px;
	  top: -2000px;
	}
  }
  
  @-moz-keyframes backgroundAnimate {
	from {
	  left: 0;
	  top: 0;
	}
	to {
	  left: -10000px;
	  top: -2000px;
	}
  }
  
  @-o-keyframes backgroundAnimate {
	from {
	  left: 0;
	  top: 0;
	}
	to {
	  left: -10000px;
	  top: -2000px;
	}
  }
  
  @keyframes backgroundAnimate {
	from {
	  left: 0;
	  top: 0;
	}
	to {
	  left: -10000px;
	  top: -2000px;
	}
  }
  
  #back {
	max-width: 100%;
	overflow: hidden;
	background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	z-index: -1;
	-webkit-animation-name: backgroundAnimate;
	-webkit-animation-duration: 500s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: backgroundAnimate;
	-moz-animation-duration: 5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-o-animation-name: backgroundAnimate;
	-o-animation-duration: 500s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	animation-name: backgroundAnimate;
	animation-duration: 500s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }
  
  #front {
	background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	z-index: -1;
	-webkit-animation-name: backgroundAnimate;
	-webkit-animation-duration: 300s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: backgroundAnimate;
	-moz-animation-duration: 300s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-o-animation-name: backgroundAnimate;
	-o-animation-duration: 300s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	animation-name: backgroundAnimate;
	animation-duration: 300s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  }